# Environnement
.env
.env.local

# Docker
docker-compose.override.yml

# Logs
*.log
storage/logs/*
!storage/logs/.gitkeep

# Cache
storage/cache/*
!storage/cache/.gitkeep

# Uploads
storage/uploads/*
!storage/uploads/.gitkeep

# Backups
storage/backups/*
!storage/backups/.gitkeep

# PHP
vendor/
composer.lock

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
